html {
    scroll-behavior: smooth;
}

p {
    color: white;
}

h3 {
    color: white;
}

.logo {
    z-index: 1;
    position: fixed;
    top: 35px;
    right: 50px;
    color: black;
    font-family: 'Lato';
    font-size: 30px;
}

.scrollIconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 10px;

    a {
        margin: 0;
        font-family: 'roboto';
        text-align: center;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
}

.scrollIconContainer:hover .scrollIcon {
    top: 5px;
}

.scrollIcon {
    position: relative;
    height: 20px;
    width: 20px;
    top: 0px;
    transition: 500ms ease;
}


.navBar {   
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 70px;
    transition: 500ms ease;
}

.navBar::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

@media screen and (max-width: 1200px) {
    .navBar {
        width: 70px !important;
    }
}

.menu-text {
    z-index: 1;
    display: inline;
    margin: 0;
    width: 200px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Raleway';
    font-size: 30px;
    color: white;
}

.menuIcon {
    z-index: 1;
    position: relative;
    display: inline;
    margin-right: 15px;
    width: 40px;
    height: 24px;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .menuIcon {
        display: none;
    }
}

.menuIcon:hover .topBar{
    width: 100%;
}

.menuBar {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: 500ms ease;
}

.topBar {
    top: 0px;
    width: 70%;
    margin-bottom: 6px;
}

.middleBar {
    top: 10px;
}

.bottomBar {
    top: 20px;
}

.navSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0;
    width: 380px;
    height: 15%;
    overflow: hidden;
}

.navDescription {
    z-index: 1;
    display: inline;
    width: 200px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Raleway';
    color: white;
}

.navLink {
    z-index: 1;
}

.navIcon {
    z-index: 1;
    margin-right: 15px;
    display: inline;
    width: 40px;
    height: 40px;
    opacity: 0.6;
    transition: 500ms ease;
    cursor: pointer;
}

.navIcon:hover {
    opacity: 1;
}

.container {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(4, 1fr);
    height: 400vh;
    width: 100vw;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: 1/5;
    grid-column:1/5;
}

.header-image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #465C8B;
}

.header-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./Images/adults-business-coffee-1323592.jpg');
    background-size: cover;
    opacity: 0.4;
}

.header-main-text {
    z-index: 1;
    margin: 0;
    color: white;
    font-family: 'Montserrat';
    font-size: 70px;
}

.header-sub-text {
    z-index: 1;
    margin: 0;
    color: white;
    font-family: 'Montserrat';
    font-size: 25px;
}

.section2 {
    position: relative;
    display: flex;
    grid-row: 5/8;
    grid-column: 1/5;
}

.infoSection {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #465C8B;
    height: 100%;
    width: 50%;
    transition: 1s ease-in;
}

.main-text-content {
    position: relative;
    width: 80%;
    left: 15%;
}

.info-header {
    margin: 0;
    position: relative;
    margin-bottom: 7%;
    width: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 50px;
}

.info-para {
    margin: 0;
    position: relative;
    margin-bottom: 7%;
    width: 80%;
    color: white;
    font-family: "Raleway";
    font-size: 18px;
}

.btn {
    position: relative;
    left: 40%;
    height: 50px;
    color: black;
    background-color: #ffb515;
    font-family: "Raleway";
    font-weight: bold;
    border: 2px solid #ffb515;
    transform: translate(-50%);
    cursor: pointer;
    transition: 500ms ease;
}

.btn:hover {
    background: none;
    color: #ffb515;
}

.btn:focus {
    outline: none;
}

.steps-container {
    position: relative;
    width: 100%;
    left: 30%;
    overflow: hidden;
    opacity: 0;
    transition: 1s ease-in;
}

.management-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    width: 50%;
    background-color: #465C8B;
}

.management-header {
    margin: 0;
    width: 70%;
    font-family: "Raleway";
    font-size: 50px;
}

.management-step {
    width: 70%;
    font-family: "Raleway";
    font-size: 21px;
}

.step-number {
    font-family: "Raleway";
    font-size: 50px;
}

.triangle-tab {
    z-index: 1;
    position: absolute;
    bottom: -15px;
    left: 49%;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background-color: #465C8B;
}

.section3 {
    display: flex;
    grid-row: 8/11;
    grid-column: 1/5;
    background-color: #F7F5E6;
}

.sampleChart {
    height: 99%;
    width: 50%;
}

.sampleLineChart {
    height: 99%;
    width: 50%;
}

.section4 {
    display: flex;
    grid-row: 11/14;
    grid-column: 1/5;
    background-color: #4f3077;
}

.tip-info-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    left: 5%;
    width: 50%;
    height: 100%;
}

.tip-info-header {
    margin: 0;
    position: relative;
    margin-bottom: 7%;
    width: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 60px;
}

.tip-info-para {
    margin-bottom: 7%;
}

.tip-text-content {
    margin: 0;
    position: relative;
    left: -10%;
    margin-left: 10%;
    margin-bottom: 7%;
    width: 80%;
    color: white;
    font-family: "Raleway";
    font-size: 18px;
    opacity: 0;
    transition: 1s ease-in;
}

.divider {
    position: absolute;
    left: 9%;
    height: 100%;
    width: 2px;
    background-color: #F7F5E6;
    transform: rotate(15deg);
}

.budget-tips-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.tip-section-title {
    position: relative;
    top: 30px;
    margin: 20px;
    font-family: "Raleway";
    color: white;
    font-size: 30px;
}

.budget-tip {
    position: relative;
    top: 30px;
    text-align: center;
    width: 60%;
    font-family: "Raleway";
    font-size: 20px;
    color: white;
    opacity: 0;
    animation: tipFade 5s ease infinite;
}

.dollar-sign-container {
    position: relative;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 20%;
    overflow: hidden;
}

.dollar-sign {
    font-size: 50px;
    color: white;
}

.cover {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4f3077;
    animation: dollarAppear 5s infinite;
}

.section5 {
    display: flex;
    grid-row: 14/16;
    grid-column: 1/5;
    background-color:rgb(79, 48, 119);
}

.social-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.social-bar::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(32, 20, 48, 0),
    rgba(32, 20, 48, 1) 90%);
}

.social-bar-heading {
    z-index: 1;
    margin: 0;
    font-family: "Raleway";
    font-size: 40px;
}

.icon-bar {
    z-index: 1;
}

.social-icon {
    display: inline-block;
    margin: 10px;
    height: 60px;
    width: 60px;
    transform: rotate(0deg);
    transform-origin: center;
    opacity: 0.5;
    transition: 1s ease;
}

.social-icon:hover {
    opacity: 1;
    animation: wiggle 1s ease forwards;
}

.section6 {
    display: flex;
    justify-content: center;
    grid-row: 16/17;
    grid-column: 1/5;
    background-color: rgb(32, 20, 48);
}

.footer-section {
    position: relative;
    left: 70px;
    width: 20%;
}

.footer-title {
    margin: 0;
    margin-bottom: 5px;
    font-family: "Raleway";
    font-size: 18px;
}

.footer-section a {
    font-family: "Raleway";
    font-size: 16px;
    color: white;
    text-decoration: none;
    opacity: 0.5;
}

.footer-section a:hover {
    opacity: 1;
}

@keyframes tipFade {
    0% {opacity: 0}
    25% {opacity: 1}
    75% {opacity: 1}
    100% {opacity: 0}
}

@keyframes dollarAppear {
    from {bottom: 0}
    to {bottom: 100%;}
}

@keyframes wiggle {
    0% {transform: rotate(0deg)}
    25% {transform: rotate(-10deg)}
    75% {transform: rotate(10deg)}
    100% {transform: rotate(0deg)}
}