.navBar {
  z-index: 1;
  position: fixed;
  -ms-grid-row: 1;
  -ms-grid-row-span: 10;
  grid-row: 1/11;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  width: 70px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.navBar::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}

.menu-text {
  z-index: 1;
  display: inline;
  margin: 0;
  width: 200px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Raleway';
  font-size: 30px;
  color: white;
}

.menuIcon {
  z-index: 1;
  position: relative;
  display: inline;
  margin-right: 15px;
  width: 40px;
  height: 24px;
  cursor: pointer;
}

.menuBar {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: white;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.topBar {
  top: 0px;
  width: 70%;
  margin-bottom: 6px;
}

.middleBar {
  top: 10px;
}

.bottomBar {
  top: 20px;
}

.navSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0;
  width: 380px;
  height: 15%;
  overflow: hidden;
}

.navDescription {
  z-index: 1;
  display: inline;
  width: 200px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Raleway';
  color: white;
}

.navLink {
  z-index: 1;
}

.navIcon {
  z-index: 1;
  margin-right: 15px;
  display: inline;
  width: 40px;
  height: 40px;
  opacity: 0.6;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  cursor: pointer;
}

.navIcon:hover {
  opacity: 1;
}

.profile-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  -ms-grid-columns: 70px (1fr)[10] 70px;
      grid-template-columns: 70px repeat(10, 1fr) 70px;
  grid-gap: 1em;
  height: 200vh;
  width: 100vw;
  background-color: #465C8B;
}

.profile-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-out-link {
  text-decoration: none;
  margin: 10px;
  text-align: center;
  font-size: 1em;
}

.profile-main-info {
  position: fixed;
  left: 70px;
  height: 100vh;
  width: 18vw;
  background-color: white;
}

.main-info-heading {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 26px;
}

.main-info-para {
  margin: 10px;
  text-align: center;
  font-size: 1em;
}

.spending-input {
  height: 30px;
  width: 200px;
  font-size: 30px;
}

.spending-input:focus {
  outline: none;
}

.spending-input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.spending-input[type=number] {
  -moz-appearance: textfield;
}

.confirm-btn {
  height: 40px;
  color: black;
  background-color: #ffb515;
  font-family: "Raleway";
  font-weight: bold;
  border: 2px solid #ffb515;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  cursor: pointer;
}

.confirm-btn:hover {
  background: none;
  color: #ffb515;
}

.profile-graph-one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4/12;
}

.sample-chart {
  position: relative;
  width: 100%;
  height: 100%;
}

.profile-graph-two {
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5/9;
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4/12;
}

.profile-graph-three {
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  grid-row: 9/13;
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4/12;
}

.open-update-data-tab {
  position: fixed;
  height: 60px;
  width: 100px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  background-color: #ffb515;
}

.form-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 1fr 1fr 1fr 1fr 1fr 70px;
      grid-template-columns: 70px 1fr 1fr 1fr 1fr 1fr 70px;
}

.update-data-column-one {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.update-data-column-two {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.update-data-column-three {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.update-data-column-four {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

.update-data-column-five {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

.open-update-data-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.2em;
  margin: 0;
}

.update-data {
  position: fixed;
  height: 100vh;
  width: 100vw;
  right: -100vw;
  background-color: white;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.update-header {
  position: relative;
}

.input-header {
  position: relative;
}

.update-input {
  position: relative;
  margin-left: 20px;
  width: 200px;
  border: 1px solid black;
  margin: 1px;
}

.update-input::-webkit-input-placeholder {
  color: gray;
}

.update-input:-ms-input-placeholder {
  color: gray;
}

.update-input::-ms-input-placeholder {
  color: gray;
}

.update-input::placeholder {
  color: gray;
}

.update-submit {
  position: relative;
  margin-top: 10px;
}

.close-update-data-tab {
  position: relative;
  left: 70px;
  margin: 0;
  font-size: 30px;
  cursor: pointer;
}
/*# sourceMappingURL=profile.css.map */