.profile-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[15];
      grid-template-rows: repeat(15, 1fr);
  -ms-grid-columns: 70px (1fr)[10] 70px;
      grid-template-columns: 70px repeat(10, 1fr) 70px;
  grid-gap: 1em;
  height: 250vh;
  width: 100vw;
  background-color: #465C8B;
}

.profile-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.not-you-para {
  font-family: 'Raleway';
}

.sign-out-link {
  text-decoration: none;
  font-family: 'Raleway';
  margin: 10px;
  text-align: center;
  font-size: 1em;
}

.info-header {
  font-family: 'Raleway';
}

.profile-main-info {
  position: fixed;
  left: 70px;
  height: 100vh;
  width: 18vw;
  background-color: white;
}

.main-info-heading {
  margin-top: 1em;
  margin-bottom: 0;
  font-family: 'Raleway';
  font-size: 26px;
}

.main-info-para {
  margin: 10px;
  text-align: center;
  font-family: 'Raleway';
  font-size: 1em;
}

.spending-calculator {
  position: relative;
  width: 90%;
  border: 1px solid black;
}

.spending-input {
  height: 30px;
  width: 100px;
  font-size: 30px;
}

.spending-input:focus {
  outline: none;
}

.spending-input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.spending-input[type=number] {
  -moz-appearance: textfield;
}

.confirm-btn {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 35px;
  color: black;
  background-color: #ffb515;
  font-family: "Raleway";
  font-weight: bold;
  border: 2px solid #ffb515;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  cursor: pointer;
  bottom: 3px;
}

.confirm-btn:hover {
  background: none;
  color: #ffb515;
}

.profile-graph-one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4/12;
}

.sample-chart {
  position: relative;
  width: 100%;
  height: 100%;
}

.profile-graph-two {
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5/9;
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4/12;
}

.profile-graph-three {
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  grid-row: 9/13;
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4/12;
}

.profile-tips-section {
  -ms-grid-row: 13;
  -ms-grid-row-span: 3;
  grid-row: 13/16;
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4/12;
  background-color: white;
}

.profile-tips-header {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.profile-tips {
  margin-left: 1em;
  font-family: 'Raleway';
}

.open-update-data-tab {
  position: fixed;
  height: 60px;
  width: 100px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  background-color: #ffb515;
}

.form-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr 1fr 1fr 1fr 1fr 70px;
      grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 70px;
  width: 100vw;
  height: 100vh;
}

.update-data-column-one {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.update-data-column-two {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.update-data-column-three {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.update-data-column-four {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

.update-data-column-five {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

.open-update-data-text {
  position: relative;
  top: 50%;
  font-family: 'Raleway';
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.2em;
  margin: 0;
}

.update-data {
  position: fixed;
  font-family: 'Raleway';
  height: 100vh;
  width: 100vw;
  right: -100vw;
  background-color: #465C8B;
  opacity: 0.9;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.update-header {
  position: relative;
  color: white;
}

.input-header {
  position: relative;
  margin-top: 5px;
  color: white;
}

.update-input {
  position: relative;
  margin-left: 20px;
  width: 150px;
  border: 1px solid white;
  margin: 1px;
}

.update-input::-webkit-input-placeholder {
  color: gray;
}

.update-input:-ms-input-placeholder {
  color: gray;
}

.update-input::-ms-input-placeholder {
  color: gray;
}

.update-input::placeholder {
  color: gray;
}

.update-submit {
  position: relative;
  margin-top: 200px;
  width: 75%;
  color: black;
  background-color: #ffb515;
  font-family: "Raleway";
  font-weight: bold;
  border: 2px solid #ffb515;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  cursor: pointer;
}

.update-submit:hover {
  background: none;
  color: #ffb515;
}

.close-update-data-tab {
  position: relative;
  font-family: 'Raleway';
  top: 15px;
  left: 100px;
  margin: 0;
  font-size: 30px;
  cursor: pointer;
  opacity: .8;
  color: white;
}

.testText {
  width: 100vw;
  text-align: center;
}
/*# sourceMappingURL=profile.css.map */