.navBar {   
    z-index: 1;
    position: fixed;
    grid-row: 1/11;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 70px;
    transition: 500ms ease;
}

.navBar::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

.menu-text {
    z-index: 1;
    display: inline;
    margin: 0;
    width: 200px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Raleway';
    font-size: 30px;
    color: white;
}

.menuIcon {
    z-index: 1;
    position: relative;
    display: inline;
    margin-right: 15px;
    width: 40px;
    height: 24px;
    cursor: pointer;
}

.menuBar {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: 500ms ease;
}

.topBar {
    top: 0px;
    width: 70%;
    margin-bottom: 6px;
}

.middleBar {
    top: 10px;
}

.bottomBar {
    top: 20px;
}

.navSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0;
    width: 380px;
    height: 15%;
    overflow: hidden;
}

.navDescription {
    z-index: 1;
    display: inline;
    width: 200px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Raleway';
    color: white;
}

.navLink {
    z-index: 1;
}

.navIcon {
    z-index: 1;
    margin-right: 15px;
    display: inline;
    width: 40px;
    height: 40px;
    opacity: 0.6;
    transition: 500ms ease;
    cursor: pointer;
}

.navIcon:hover {
    opacity: 1;
}

.profile-container {
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: 70px repeat(10, 1fr) 70px;
    grid-gap: 1em;
    height: 250vh;
    width: 100vw;
    background-color: #465C8B;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-you-para {
    font-family: 'Raleway';

}

.sign-out-link {
    text-decoration: none;
    font-family: 'Raleway';
    margin: 10px;
    text-align: center;
    font-size: 1em;
}

.info-header {
    font-family: 'Raleway';
}

.profile-main-info {
    position: fixed;
    left: 70px;
    height: 100vh;
    width: 18vw;
    background-color: white;
}

.main-info-heading {
    margin-top: 1em;
    margin-bottom: 0;
    font-family: 'Raleway';
    font-size: 26px;
}

.main-info-para {
    margin: 10px;
    text-align: center;
    font-family: 'Raleway';
    font-size: 1em;
}

.spending-calculator {
    position: relative;
    width: 90%;
    border: 1px solid black;
}

.spending-input {
    height: 30px;
    width: 100px;
    font-size: 30px;
}

.spending-input:focus {
    outline: none;
}

.spending-input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.spending-input[type=number] {
    -moz-appearance:textfield;
}

.confirm-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 35px;
    color: black;
    background-color: #ffb515;
    font-family: "Raleway";
    font-weight: bold;
    border: 2px solid #ffb515;
    transition: 500ms ease;
    cursor: pointer;
    bottom: 3px;
}

.confirm-btn:hover {
    background: none;
    color: #ffb515;
}

.profile-graph-one {
    grid-row: 1/5;
    grid-column: 4/12;
}

.sample-chart {
    position: relative;
    width: 100%;
    height: 100%;
}

.profile-graph-two {
    grid-row: 5/9;
    grid-column: 4/12;
}

.profile-graph-three {
    grid-row: 9/13;
    grid-column: 4/12;
}

.profile-tips-section {
    grid-row: 13/16;
    grid-column: 4/12;
    background-color: white;
}

.open-update-data-tab {
    position: fixed;
    height: 60px;
    width: 100px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: #ffb515;
}

.update-data-form {
}

.form-container {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 70px;
    width: 100vw;
    height: 100vh;
}

.update-data-column-one {
    grid-column: 2/3;
}

.update-data-column-two {
    grid-column: 3/4;
}

.update-data-column-three {
    grid-column: 4/5;
}

.update-data-column-four {
    grid-column: 5/6;
}

.update-data-column-five {
    grid-column: 6/7;
}

.open-update-data-text {
    position: relative;
    top: 50%;
    font-family: 'Raleway';
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.2em;
    margin: 0;
}

.update-data {
    position: fixed;
    font-family: 'Raleway';
    height: 100vh;
    width: 100vw;
    right: -100vw;
    background-color: white;
    transition: 1s ease;
}

.update-header {
    position: relative;
}

.input-header {
    position: relative;
}

.update-input {
    position: relative;
    margin-left: 20px;
    width: 150px;
    border: 1px solid black;
    margin: 1px;
}

.update-input::placeholder {
    color: gray;
}

.update-submit {
    position: relative;
    margin-top: 10px;
}

.close-update-data-tab {
    position: relative;
    font-family: 'Raleway';
    top: 15px;
    left: 100px;
    margin: 0;
    font-size: 30px;
    cursor: pointer;
}

.testText {
    width: 100vw;
    text-align: center;
}