p {
    margin: 0;
    font-family: 'raleway';
    font-size: 20px;
}

.registrationPage {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
    width: 100vw;
    background-image: url("./Images/alone-bills-calculator-1253591.jpg");
    background-size: cover;
    opacity: 1;
}

.registrationHeader {
    margin-top: 90px;
    margin-left: 150px;
    text-align: center;
    grid-row: 1/2;
    grid-column: 2/3;
    font-weight: bold;
    font-size: 28px;
}

.registrationForm {
    grid-row: 2/3;
    grid-column: 2/3;
    align-items: center;
    margin-left: 140px;
    margin-top: 100px;
    background-color: rgb(70, 91, 139);
    background-image: linear-gradient(to right, rgb(70, 91, 139), 0),
}


.gap{
    margin: 10px;
}

.inputHeader {
    margin-left: 80px;
}

.loginPage {
    background-image: url("./C:\xampp\htdocs\TBGCalculations\Images\adults-book-business-297755.jpg");
    background-size: cover;
    opacity: .8;
}

.loginForm {
    position: relative;
    left: 80px;
    top: 20px;
    background-color: rgb(70, 91, 139);
    background-image: linear-gradient(to right, rgb(70, 91, 139), 0),
}

.loginHeader {
    font-weight: bolder;
    margin-left: 75px; 
    margin-top: 20px;
    font-size: 28px; 
    background-color: rgb(70, 91, 139);
    background-image: linear-gradient(to right, rgb(70, 91, 139, 0), rgb(70, 91, 139, .9), 90%);
    background-image: linear-gradient(to left, rgb(70, 91, 139, 0), rgb(70, 91, 139, .9), 90%); 
}

.loginInput {
    margin-bottom: 5px;
    font-family: 'raleway';
}

.loginInput::placeholder {
    font-family: 'raleway';
}

.registerInput {
    font-family: 'raleway';
    margin-bottom: 5px;
    margin-left: 80px;
}

.loginBtn {
    position: relative;
    left: 27px;
    color: black;
    background-color: #ffb515;
    font-family: "Raleway";
    font-weight: bold;
    border: 2px solid #ffb515;
    transform: translate(-50%);
    cursor: pointer;
    transition: 500ms ease;
}

.loginBtn:hover {
    background: none;
    color: #ffb515;
}

.loginBtn:focus {
    outline: none;
}

.registerBtnLogin {
    position: relative;
    left: 116px;
    top: 20px;
    color: black;
    background-color: #ffb515;
    font-family: "Raleway";
    font-weight: bold;
    border: 2px solid #ffb515;
    transform: translate(-50%);
    cursor: pointer;
    transition: 500ms ease;
}


.registerBtnLogin:hover {
    background: none;
    color: #ffb515;
}

.registerBtnLogin:focus {
    outline: none;
}

.registerBtn {
    position: relative;
    left: 151px;
    color: black;
    background-color: #ffb515;
    font-family: "Raleway";
    font-weight: bold;
    border: 2px solid #ffb515;
    transform: translate(-50%);
    cursor: pointer;
    transition: 500ms ease;
}

.registerBtn:hover {
    background: none;
    color: #ffb515;
}

.registerBtn:focus {
    outline: none;
}
