p {
  margin: 0;
  font-family: 'raleway';
}

.registrationPage {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: 2fr 1fr 1fr 2fr;
      grid-template-columns: 2fr 1fr 1fr 2fr;
  background-image: url("./Images/chart-data-desk-590022.jpg");
  background-size: cover;
  opacity: .8;
  height: 100vh;
  width: 100vw;
}

.registrationHeader {
  top: 90px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 28px;
  background-color: #465b8b;
}

.registration-div {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #465b8b;
}

.registrationForm {
  background-color: #465b8b;
}

.gap {
  margin: 10px;
}

.loginPage {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
  -ms-grid-columns: 70px 1fr 1fr 1fr 70px;
      grid-template-columns: 70px 1fr 1fr 1fr 70px;
  width: 100vw;
  height: 100vh;
  background-image: url("./Images/adult-book-business-297755.jpg");
  background-size: cover;
  background-position: relative;
}

.loginForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.loginHeader {
  float: left;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 28px;
  width: 229px;
  background-color: #465b8b;
}

.login-input-title {
  width: 229px;
}

.loginParagraph {
  font-size: 20px;
}

.loginInput {
  margin-bottom: 5px;
  font-family: 'raleway';
}

.loginInput::-webkit-input-placeholder {
  font-family: 'raleway';
}

.loginInput:-ms-input-placeholder {
  font-family: 'raleway';
}

.loginInput::-ms-input-placeholder {
  font-family: 'raleway';
}

.loginInput::placeholder {
  font-family: 'raleway';
}

.registerInput {
  font-family: 'raleway';
  margin-bottom: 5px;
}

.loginBtn {
  position: relative;
  left: 27px;
  color: black;
  background-color: #ffb515;
  font-family: "Raleway";
  font-weight: bold;
  border: 2px solid #ffb515;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  cursor: pointer;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.loginBtn:hover {
  background: none;
  color: #ffb515;
}

.loginBtn:focus {
  outline: none;
}

.register-div {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  position: relative;
  background-color: #465b8b;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registerBtnLogin {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-decoration: none;
  background-color: #ffb515;
  font-family: "Raleway";
  font-weight: bold;
  border: 2px solid #ffb515;
  cursor: pointer;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.registerBtnLogin:hover {
  background: none;
  color: #ffb515;
}

.registerBtnLogin:focus {
  outline: none;
}

.registerBtn {
  position: relative;
  left: 50%;
  color: black;
  background-color: #ffb515;
  font-family: "Raleway";
  font-weight: bold;
  border: 2px solid #ffb515;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  cursor: pointer;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.registerBtn:hover {
  background: none;
  color: #ffb515;
}

.registerBtn:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */