.navBar {
  z-index: 1;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  width: 70px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.navBar::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}

.menu-text {
  z-index: 1;
  display: inline;
  margin: 0;
  width: 200px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Raleway';
  font-size: 30px;
  color: white;
}

.menuIcon {
  z-index: 1;
  position: relative;
  display: inline;
  margin-right: 15px;
  width: 40px;
  height: 24px;
  cursor: pointer;
}

.menuBar {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: white;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.topBar {
  top: 0px;
  width: 70%;
  margin-bottom: 6px;
}

.middleBar {
  top: 10px;
}

.bottomBar {
  top: 20px;
}

.navSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0;
  width: 380px;
  height: 15%;
  overflow: hidden;
}

.navDescription {
  z-index: 1;
  display: inline;
  width: 200px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Raleway';
  color: white;
}

.navLink {
  z-index: 1;
}

.navIcon {
  z-index: 1;
  margin-right: 15px;
  display: inline;
  width: 40px;
  height: 40px;
  opacity: 0.6;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  cursor: pointer;
}

.navIcon:hover {
  opacity: 1;
}

p {
  margin: 0;
  font-family: 'raleway';
  font-size: 20px;
}

.registrationHeader {
  margin-top: 90px;
  margin-left: 150px;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-weight: bold;
  font-size: 28px;
  background-color: #465b8b;
}

.registrationForm {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 140px;
  margin-top: 100px;
  background-color: #465b8b;
}

.gap {
  margin: 10px;
}

.inputHeader {
  margin-left: 80px;
}

.loginPage {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
  -ms-grid-columns: 70px 1fr 1fr 1fr 70px;
      grid-template-columns: 70px 1fr 1fr 1fr 70px;
  width: 100vw;
  height: 100vh;
  background-image: url("./Images/adult-book-business-297755.jpg");
  background-size: cover;
  background-position: relative;
}

.loginForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.loginHeader {
  float: left;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 28px;
  width: 229px;
  background-color: #465b8b;
}

.login-input-title {
  width: 229px;
}

.loginInput {
  margin-bottom: 5px;
  font-family: 'raleway';
}

.loginInput::-webkit-input-placeholder {
  font-family: 'raleway';
}

.loginInput:-ms-input-placeholder {
  font-family: 'raleway';
}

.loginInput::-ms-input-placeholder {
  font-family: 'raleway';
}

.loginInput::placeholder {
  font-family: 'raleway';
}

.registerInput {
  font-family: 'raleway';
  margin-bottom: 5px;
  margin-left: 80px;
}

.loginBtn {
  position: relative;
  left: 27px;
  color: black;
  background-color: #ffb515;
  font-family: "Raleway";
  font-weight: bold;
  border: 2px solid #ffb515;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  cursor: pointer;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.loginBtn:hover {
  background: none;
  color: #ffb515;
}

.loginBtn:focus {
  outline: none;
}

.register-div {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  position: relative;
  background-color: #465b8b;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registerBtnLogin {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-decoration: none;
  background-color: #ffb515;
  font-family: "Raleway";
  font-weight: bold;
  border: 2px solid #ffb515;
  cursor: pointer;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.registerBtnLogin:hover {
  background: none;
  color: #ffb515;
}

.registerBtnLogin:focus {
  outline: none;
}

.registerBtn {
  position: relative;
  left: 151px;
  color: black;
  background-color: #ffb515;
  font-family: "Raleway";
  font-weight: bold;
  border: 2px solid #ffb515;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  cursor: pointer;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.registerBtn:hover {
  background: none;
  color: #ffb515;
}

.registerBtn:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */